<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todos os Posts</h1>

    {% if pacientes %}
        <ul>
            {% for pacientes in pacientes %}
                <li>
                    <h2>{{ paciente.nome }}</h2>
                    <p>{{ paciente.cpf }}</p>
                    <small>Criado em: {{ paciente.data_cria }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há posts disponíveis.</p>
    {% endif %}
</body>
</html>